# ============================================================
# Gradle
# ============================================================

.gradle/
build/


# ============================================================
# Local Environment
# ============================================================

# ローカル開発専用Spring Boot設定
src/main/resources/application-local.yml


# ============================================================
# Logs
# ============================================================

logs/
*.log